/*h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
}*/

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.headlink:hover {
	text-decoration: none;
}

body {
	background: #E7E7E7;
	font-size: 100%;
	/*width: 855px;
	margin: auto;*/
}

header, main, footer {
	/*min-width: 855px;*/
	min-width: 1130px;
}

header .container, main .container, footer .container {
	max-width: 1130px;
	margin: auto;
}

header {
	background: #000000;
	overflow: auto;
	padding: 20px;
	color: white;
}

header h1 {
	float: left;
	/*width: 570px;*/
	width: 730px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	font-style: italic;
}

header nav {
	float: right;
	/*width: 285px;*/
	width: 400px;
	font-family: 'Droid Sans', sans-serif;
}

main {
	background: #E7E7E7;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #222222;
}

main h2, h3, p, ul {
	float: left;
	/*width: 570px;*/
	width: 730px;
	font-family: 'Ubuntu', sans-serif;
}

main h2 {
	font-size: 30px;
}

main h3 {
	font-size: 25px;
}

footer .contact {
	color: #222222;
	float: left;
	/*width: 570px;*/
	width: 730px;
	font-family: 'Droid Sans', sans-serif;
}

footer h5 {
	font-size: 20px;
}

footer .sitemap {
	color: #222222;
	float: right;
	/*width: 285px;*/
	width: 400px;
	font-family: 'Droid Sans', sans-serif;
}